<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <h1>Calculadora de numeros cuadrados</h1>
      <form method="POST" action="/calculator/">
        {% csrf_token %}
        <label for="number">Ingresa un numero:</label>
        <input type=number id="number" name="number">
        <input type="submit" value="doble">
      </form>
    <h2>El cuadrado del numero ingresado es:</h2>
    
    <data name="result">{{result}}</data>
    <form method="POST" action="/calculator/" name="calculator">
      {% csrf_token %}
      <h3>Calculadora</h3>
      <p>Haz algun calculo para ver el resultado.</p>
      <input type="textfield" name="Screen" value="">
      <br>
      <input type="button" value="1" onClick="document.calculator.ans.value+='1'">
      <input type="button" value="2" onClick="document.calculator.ans.value+='2'">
      <input type="button" value="3" onClick="document.calculator.ans.value+='3'">
      <input type="button" value="+" onClick="document.calculator.ans.value+='+'">
      <br>
      <input type="button" value="4" onClick="document.calculator.ans.value+='4'">
      <input type="button" value="5" onClick="document.calculator.ans.value+='5'">
      <input type="button" value="6" onClick="document.calculator.ans.value+='6'">
      <input type="button" value="-" onClick="document.calculator.ans.value+='-'">
      <br>
      <input type="button" value="7" onClick="document.calculator.ans.value+='7'">
      <input type="button" value="8" onClick="document.calculator.ans.value+='8'">
      <input type="button" value="9" onClick="document.calculator.ans.value+='9'">
      <input type="button" value="*" onClick="document.calculator.ans.value+='*'">
      <br>
      <input type="button" value="0" onClick="document.calculator.ans.value+='0'">
      <input type="reset" value="c">
      <input type="button" value="/" onClick="document.calculator.ans.value+='/'">
      <input type="submit" value="=" onClick="document.calculator.ans.value=result">
    </form>
</body>
